.bottom{
  background-color: #a6b1e1;
  padding: 50px 0 20px;

  font-family: 'Montserrat', sans-serif;

}
.copyright{

  padding-top: 50px;

  padding: 30px;
}
.footerLink{
  
  margin: 20px;
  color: #dcd6f7;
  margin-top: 30px;
  text-decoration: none;
}
.footerLink:hover{
  color: white;
}
